*
{
    margin: 0; /* Separar texto e imagenees segun la medida */
    padding: 0; /* Separar texto e imagenes segun la mediad */
}

.logo
{
    position: absolute;
}

.banner
{
    width: 100%;
    
}

body
{
    background: #332463; /* nombre de color, hexadecimal(#), rgb(80,80,2529, usar rgb dice que es lo recomendable */
}
header, .main, footer /* header y footer: html5 manipular el diseño, .main: crear tu propio estilo personalizado */
{
    background: none; /* color de fondo */
    width: 90%; /* personalizamos ancho de la web*/
    max-width: 1000px; /* colocamos un ancho predeterminado margen izquierdo y derecho */
    margin: 20px auto; /* separacion arriba-abajo, derecha-izqiuerdda*/
    font-family: 'Livvic', sans-serif;
}
header nav
{
    overflow: hidden; /* Oculta viñetas de la web */
    border-radius: 20px;
    background-color: rgb(163, 41, 41);
}
header nav ul
{
    list-style: none;
}
header nav ul li
{
    float: left; /* ordenar el menu de forma horizontal */
}
header nav ul li a
{
    padding: 10px 33.6px; /* separacion arriba-abajo, derecha-izqiuerdda*/
    display: block;
    color: #fff; /* color del texcto del menu */
    text-decoration: none; /* quitar subrayado delos elementos del menu */
}
header nav ul li a:hover
{
    background: rgb(12, 61, 126);
}
.main .articles
{
    width: 68.5%; /* solo usamos un porcentaje del 100%, por lo que resta 31.5%*/
    margin-left: 1.5%; /* margen o espacio que se le asigna con otros elemenos, lo que quedaba del 31.5%, solo usamos el 1.5%, queda 30%*/
    float: right; /* hacemos mover un articulo hacia la izquierda */
    margin-top: 0px; /* margen o espacio de arriba-abajo */ /* no era necesario esto*/
}

.main .articles article
{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(134, 134, 134);
    text-align: center;
}


aside
{
    width: 30%; /* ancho de seccion, usamos el 30% que queda del ancho del .main .articles */
    background: #f5f3f3; /* color de fondo */
    float: left; /* hacemo que los elementos se fija hacia la izquierda en forma lineal */
    padding: 15px; /* espacio que hay entre los elementos internos y el limite exterior */
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgb(134, 134, 134);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}
footer
{
    
    background-color: rgb(163, 41, 41);
    color: #fff;
    clear: both;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}